html, body, #wrapper {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ff0000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  text-decoration: none;
}

html ::selection {
  background-color: #ff0000;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wrapper td {
  text-align: center;
}

.top td {
  font-size: 10vw;
  font-family: "Monarcha", “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 0;
  vertical-align: bottom;
}

.mid td {
  font-size: 1.8vw;
  padding-top: 0;
  vertical-align: top;
}

.mid td ul {
  padding: 0;
  padding-right: 20%;
  padding-left: 20%;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.mid td ul li a {
  color: #ff0000;
  text-decoration: none;
}

.mid td ul li a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.mid td ul li a:visited {
  color: #ff0000;
  text-decoration: none;
}

.bot td {
  font-size: 1vw;
  font-family: "Monarcha", “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: baseline;
  height: 4.5em;
}
