a {
  text-decoration: none;
  color: red;
}

html ::selection {
  background-color: #ff0000;
  color: #ffffff;
}

body {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 15px
  color: black;
}

.napper {
  z-index: 10;
  padding-right: 1em;
  text-align: right;
}

.bio {
  font-family: "Monarcha", “Helvetica Neue”, Helvetica, Arial, sans-serif;
  text-align: center
}

.bio h1 {
  font-size: 100px;
  font-weight: 400;
  font-style: italic;
  color: red
}

.bio p {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: red
}

.bio p u a:visited {
  color: red;
}

.bio p u a:hover {
  color: black;
}

.small h1 {
  color: red;
  font-size: 20px;
}

.small h1 a:visited {
  color: black;
}

.small h1 a:hover {
  color: red;
}

.norm p u a:visited {
  color: red;
}

.norm p u a:hover {
  color: black;
}

.sausage {
  margin-left: 5em;
  margin-right: 5em;
}

.bionav {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  float: right;
  margin: 0;
  text-decoration: none;
}
