/* GENERAL */

a {
  text-decoration: none;
}

body {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 15px;
  color: black;
}

.wrapper {
  position: fixed;
  width: 99vw;
  z-index: 10;
}

.foot-wrapper {
  position: fixed;
  width: 99vw;
  z-index: 10;
  bottom: 1em;
  right: 1.5em;
  text-align: right;
  color: black;
}

.foot-wrapper a:visited {
  text-decoration: none;
  color: black;
}

.foot-wrapper a:hover {
  text-decoration: underline;
  color: black;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  margin: 0%;
  text-decoration: none;
}

header h1 {
  font-size: 40px;
  font-weight: 400;
  color: #ff0000;
  text-decoration: none;
  margin: 0%;
}

header nav a {
  margin: 0;
  border: 0;
  padding: 0;
}

header nav a:visited {
  color: #ff0000;
  text-decoration: none;

}

header nav a:hover {
  color: #ff0000;
  text-decoration: none;
}

/* INDEX.HTML */

.in-nav {
  font-weight: 400;
  color: #f3f3f3;
  text-decoration: none;
  text-align: left;
  padding: 0.5em;
  margin: 0%;
}

.mylist {
  color: #ff0000;
  font-weight: 400;
  text-decoration: none;
  margin: 0%;
}

.mylist li a {
  text-decoration: none;
}

.mylist li a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.mylist li a:visited {
  color: #ff0000;
  text-decoration: none;
}

/* CODE.HTML */

.archive {
  height: 87vh;
  text-decoration: none;
  list-style: none;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}

.archive li {
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  border: 0;
  padding-right: 2em;
}

.flexman {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border: 0;
  padding: 0;
  width: 47vw;
}

.mytitle {
  margin: 0;
  border: 0;
  padding: 0;
}

.mytitle a {
  color: black;
}

.mydate {
  text-align: right;
  margin: 0;
  border: 0;
  padding: 0;
}

.archive li a {
  text-decoration: none;
}

.archive li a:visited {
  color: black;
  text-decoration: none;
}

.archive li:hover {
  color: #0000ff;
}

.archive li a:hover {
  color: #0000ff;
  text-decoration: underline;
}

/* IMAGE POPUPS FOR ART.HTML */

.ytt-r a:hover {
    position: relative;
}

.ytt-r a:hover:after {
    content: url(../assets/art/ytt-r/today-reprise.jpg); /* no need for qoutes */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kid-a a:hover {
    position: relative;
}

.kid-a a:hover:after {
    content: url(../assets/art/kid-a/kid-a-front.jpg); /* no need for qoutes */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ytt a:hover {
    position: relative;
}

.ytt a:hover:after {
    content: url(../assets/art/ytt/yesterday.jpg); /* no need for qoutes */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PORTFOLIO PAGES */

.port {
  color: #0000ff;
}

.photo-archive {
  list-style: none;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 5em;
  position: absolute;
}

.photo-archive li img {
  text-decoration: none;
  margin: 0;
  border: 0;
  padding-top: 1em;
  width: 50vw;
}

/* ME.HTML */

.left {
  margin-top: 5em;
  width: 45vw;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
  position: absolute;
}

.right {
  margin-top: 1em;
  left: 50vw;
  padding-left: 1em;
  padding-right: 1em;
  width: 45vw;
  z-index: 10;
  position: absolute;
}

.flexman2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border: 0;
  padding: 0;
  width: 45vw;
}

.chickenwrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
}

.jaden p:hover {
    position: relative;
}

.jaden p:hover:after {
    content: url(../assets/jaden.jpg); /* no need for qoutes */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}